node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/

# macOS
.DS_Store
/__tests__/App-test.js
/__tests__/__snapshots__/App-test.js.snap
/components/__tests__/StyledText-test.js
/components/__tests__/__snapshots__/StyledText-test.js.snap
